body{
  background-color: #fff;

}

:root {
  --main-bg-color: rgb(26, 25, 25);
  --main-font-color: rgb(0, 0, 0);
  --theme-primary: rgb(254, 202, 27);
}


@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

h1 {
  margin-top: 30px;
  position: relative;
  color: hsl(0, 3%, 7%);
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  letter-spacing: 7px;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 710px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: aliceblue;
  }
  to {
    border-right-color: aliceblue;
  }
}

.checked {
  color: orange;
}

.star-rating {
  color: rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.star-rating .foreground {
  color: var(--theme-primary);
  position: absolute;
  display: flex;
  overflow: hidden;
}

.star-rating .background {
  display: flex;
  color:hsl(0, 3%, 22%)
}